#.gitignore
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/btcu
src/btcud
src/btcu-cli
src/btcu-tx
src/test/test_btcu
src/qt/test/test_btcu-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/btcu-config.h
src/config/btcu-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

#src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
#*.patch
.btcu
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
!invalid_outpoints.json.h
!invalid_serials.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
btcu-qt
BTCU-Qt.app
background.tiff*

# Unit-tests
Makefile.test
btcu-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_btcu.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
cache/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libbitcoinconsensus.pc
.idea
#CMakeLists.txt
cmake-build-debug

moc_*
*.tmp
ui_*
#build*
#btcud.*
btcud-new-gui.*

venv/

# ignore autogenerated files
*.marks
*.check_cache
*.make
*.bin
CMakeCache.txt
cmake_install.cmake
CMakeFiles/**/*
/**/*/tmp/**/*
*.depends
DartConfiguration.tcl
*-prefix/*

#ignore builded files
btcu-cli
btcu-tx
btcud
test_btcu
install_manifest.txt
osx_volname
lib/
bin/
conf*/*
conftest.c
ecmult_static_context.h

.vs/
db-*/
*.zip
.vscode/
CMakeSettings.json

_3rdParty/
boost_1_71_0/
cmake-3.14.1/
src/config/CMakeFiles/
src/univalue/CMakeFiles/
*.cbp
src/cryptopp/cryptopp-config-version.cmake
