# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS stuff
build
ipch
*.sdf
*.opensdf
*.suo
*.vcxproj
*.vcxproj.filters
*.sln

# VIM stuff
*.swp

# Xcode stuff
build_xc

*.user
*.user.*
*~

# build system
build.*/
/deps/
extdep/install
extdep/download
/cmake-build-*/

*.pyc

# MacOS Development
.DS_Store
# CocoaPods
Pods/
Podfile.lock
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserstate
profile
*.moved-aside
DerivedData
project.pbxproj

# JetBrains stuff
.idea/
cmake-build-*/
bin/

# Visual Studio Code
browse.VC.db

doc/html
*.autosave
node_modules/

dependency_graph.svg
.deps/libbitcoin_common_a-eth-buildinfo.Po
cpp-ethereum/.dirstamp
cpp-ethereum/.deps/.dirstamp
cpp-ethereum/.deps/libbitcoin_common_a-buildinfo.Po
libaleth-interpreter/.dirstamp
libaleth-interpreter/.deps/.dirstamp
libaleth-interpreter/.deps/libbitcoin_common_a-VM.Po
libaleth-interpreter/.deps/libbitcoin_common_a-VMCalls.Po
libaleth-interpreter/.deps/libbitcoin_common_a-VMOpt.Po
libdevcore/.deps/libbitcoin_common_a-Address.Po
libdevcore/.deps/libbitcoin_common_a-DBFactory.Po
libdevcore/.deps/libbitcoin_common_a-JsonUtils.Po
libdevcore/.deps/libbitcoin_common_a-LevelDB.Po
libdevcore/.deps/libbitcoin_common_a-StateCacheDB.Po
libdevcrypto/.deps/libbitcoin_common_a-Hash.Po
libdevcrypto/.deps/libbitcoin_common_a-LibSnark.Po
libethashseal/genesis/test/.dirstamp
libethashseal/genesis/test/.deps/.dirstamp
libethashseal/genesis/test/.deps/libbitcoin_common_a-byzantiumNoProofTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-byzantiumTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-ByzantiumToConstantinopleFixAt5Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-byzantiumTransitionTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-constantinopleFixTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-constantinopleNoProofTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-constantinopleTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-eip150Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-eip158Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-EIP158ToByzantiumAt5Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-experimentalTransitionTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-frontierNoProofTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-frontierTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-frontierToHomesteadAt5Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-homesteadTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-homesteadToDaoAt5Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-homesteadToEIP150At5Test.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-mainNetworkNoProofTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-mainNetworkTest.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-qtumTestNetwork.Po
libethashseal/genesis/test/.deps/libbitcoin_common_a-transitionnetTest.Po
libethcore/.deps/libbitcoin_common_a-LogEntry.Po
libethcore/.deps/libbitcoin_common_a-TransactionBase.Po
libethereum/.deps/libbitcoin_common_a-ImportPerformanceLogger.Po
libethereum/.deps/libbitcoin_common_a-ValidationSchemes.Po
libevm/.deps/libbitcoin_common_a-EVMC.Po
libevm/.deps/libbitcoin_common_a-Instruction.Po
libevm/.deps/libbitcoin_common_a-LegacyVM.Po
libevm/.deps/libbitcoin_common_a-LegacyVMCalls.Po
libevm/.deps/libbitcoin_common_a-LegacyVMOpt.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-b64.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-crypto-mcf.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-crypto-scrypt-saltgen.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-crypto_scrypt-check.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-crypto_scrypt-hash.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-crypto_scrypt-hexconvert.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-crypto_scrypt-nosse.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-sha256.Po
utils/libscrypt/.deps/crypto_libbitcoin_crypto_base_a-slowequals.Po
