# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BTCU Core
Comment=BTCU Core QT main network
GenericName=BTCU Digital Currency QT client main network
Exec=btcu-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/btcu.png
MimeType=x-scheme-handler/btcu;
Categories=X-Office;X-Finance;
Keywords=internet;btcu;zbtcu;btcu;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=btcu-qt.desktop
