# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BTCU Core
Comment=BTCU Core QT test network
GenericName=BTCU Digital Currency QT client testnet network
Exec=btcu-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/btcu_testnet.png
MimeType=x-scheme-handler/btcu;
Categories=X-Office;X-Finance;
Keywords=internet;btcu;zbtcu;tbtcu;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=btcu-qt_testnet.desktop
