# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BTCU Core Daemon SNAP
Comment=testnet
GenericName=BTCU Digital Currency Daemon Client testnet network
Exec=btcu-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/btcu_testnet.png
MimeType=x-scheme-handler/btcu;
Categories=X-Office;X-Finance;
Keywords=internet;btcu;zbtcu;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
